@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --blue: rgb(47, 65, 79);
  --teal1: rgb(0, 173, 173);
  --teal2: rgb(0, 206, 206);
  --teal3: rgb(69, 240, 240);
}
::selection {
  background: var(--teal1);
}

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  background-color: var(--blue);
  color: white;
  margin: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

h1,
h3,
p,
div,
output {
  cursor: default;
}

h1 {
  margin: 20px 0 0;
  font-size: 50px;
}
h3 {
  margin: 0 0 40px;
  transform: translateX(100%);
}

p {
  font-size: 30px;
  margin: 10px 0 20px;
}

output {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

#slider {
  -webkit-appearance: none;
  margin: 20px 0 30px;
  max-width: 400px;
  width: 70vw;
  height: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: var(--teal1);
  outline: none;
  opacity: 0.8;
  transition: all 0.1s;
}
#slider:hover {
  opacity: 1;
}
#slider:active {
  background: var(--teal2);
}
#slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--teal3);
  transition: all 0.1s;
}
#slider::-webkit-slider-thumb:hover {
  width: 25px;
  height: 25px;
}

label {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  opacity: 0.9;
  user-select: none;
  transition: all 0.1s;
}
#extra {
  margin: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: var(--teal3);
}
label:hover {
  opacity: 1;
}
label:active {
  transform: scale(0.94);
}

button {
  background-color: var(--teal1);
  margin: 20px 0 30px;
  padding: 20px 30px;
  border-radius: 40px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s, padding 0.2s;
}
button:hover {
  background-color: var(--teal2);
  padding: 20px 40px;
}
button:active {
  background-color: var(--teal3);
  transform: scale(0.95);
}

#password {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin: 10px 0 0;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.1s;
}
#password:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
#password:active {
  text-shadow: none;
  transform: scale(0.98);
  color: rgba(255, 255, 255, 0.8);
}

#copied {
  margin: 20px 0 40px;
  font-size: 16px;
  color: var(--teal3);
}

@media (max-width: 700px) {
  h1 {
    font-size: 7vw;
  }
  h3 {
    font-size: 4vw;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
  }
  input {
    max-width: none;
    width: 90vw;
  }
  #password {
    font-size: 6vw;
    border-radius: 14px;
  }
}
