// COLORS
$blue: rgb(47, 65, 79);
$teal1: rgb(0, 173, 173);
$teal2: rgb(0, 206, 206);
$teal3: rgb(69, 240, 240);

// FONTS
$mainFont: 'Josefin Sans', sans-serif;
$passwordFont: 'Roboto', sans-serif;


@mixin buttonStyle($btnText, $btnBack, $btnHover, $btnActive) {
  color: $btnText;
  background-color: $btnBack;
  margin: 20px 0 30px;
  padding: 20px 30px;
  border-radius: 40px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s, padding 0.2s;

  &:hover {
    background-color: $btnHover;
    padding: 20px 40px;
  }
  &:active {
    background-color: $btnActive;
    transform: scale(0.95);
  }
}