@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
::-moz-selection {
  background: #00adad;
}
::selection {
  background: #00adad;
}

* {
  -webkit-tap-highlight-color: transparent;
  cursor: default;
}

html,
body {
  background-color: #2f414f;
  color: white;
  margin: 0;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  margin: 20px 0 0;
  font-size: 50px;
}

h3 {
  margin: 0 0 40px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

p {
  font-size: 30px;
  margin: 10px 0 20px;
}

output {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

#slider {
  -webkit-appearance: none;
  margin: 20px 0 30px;
  max-width: 400px;
  width: 70vw;
  height: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: #00adad;
  outline: none;
  opacity: 0.8;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

#slider:hover {
  opacity: 1;
}

#slider:active {
  background: #00cece;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #45f0f0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

#slider::-webkit-slider-thumb:hover {
  width: 25px;
  height: 25px;
}

label {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  opacity: 0.9;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

label:hover {
  opacity: 1;
}

label:active {
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
}

#extra {
  margin: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #45f0f0;
}

button {
  color: white;
  background-color: #00adad;
  margin: 20px 0 30px;
  padding: 20px 30px;
  border-radius: 40px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.1s, padding 0.2s;
  transition: all 0.1s, padding 0.2s;
}

button:hover {
  background-color: #00cece;
  padding: 20px 40px;
}

button:active {
  background-color: #45f0f0;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#password {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  margin: 10px 0 0;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

#password:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#password:active {
  text-shadow: none;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  color: rgba(255, 255, 255, 0.8);
}

#copied {
  margin: 20px 0 40px;
  font-size: 16px;
  color: #45f0f0;
}

@media (max-width: 700px) {
  h1 {
    font-size: 7vw;
  }
  h3 {
    font-size: 4vw;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
  }
  input {
    max-width: none;
    width: 90vw;
  }
  #password {
    font-size: 6vw;
    border-radius: 14px;
  }
}
/*# sourceMappingURL=style.css.map */